# Place this under /usr/lib/systemd/user

[Unit]
Description=Mosh TLS connector
After=network.target

[Service]
ExecStart=path/to/server.sh
# TODO: change path

[Install]
WantedBy=default.target

